<?xml version="1.0" encoding="utf-8" ?>
<config>
  <sounds>
    <sound speed="0" url="http://minasya.com.tr/yedek/sounds/normal/fatiha.mp3"/>
    <sound speed="0" url="http://minasya.com.tr/yedek/sounds/normal/fil.mp3"/>
    <sound speed="0" url="http://minasya.com.tr/yedek/sounds/normal/Kamet.mp3"/>
    <sound speed="0" url="http://minasya.com.tr/yedek/sounds/normal/kunutduasibir.mp3"/>
    <sound speed="0" url="http://minasya.com.tr/yedek/sounds/normal/fatiha.mp3"/>
    <sound speed="0" url="http://minasya.com.tr/yedek/sounds/normal/kureys.mp3"/>
    <sound speed="0" url="http://minasya.com.tr/yedek/sounds/normal/maun.mp3"/>
    <sound speed="0" url="http://minasya.com.tr/yedek/sounds/normal/niyetaksamfarz.mp3"/>
    <sound speed="1" url="https://raw.githubusercontent.com/supermaker/namazOgreniyorum/master/resources/sounds/Kamet.mp3"/>
    <sound speed="1" url="https://raw.githubusercontent.com/supermaker/namazOgreniyorum/master/resources/sounds/allahummebarik.mp3"/>
    <sound speed="1" url="http://minasya.com.tr/yedek/sounds/normal/maun.mp3"/>
    <sound speed="1" url="http://minasya.com.tr/yedek/sounds/normal/niyetaksamfarz.mp3"/>
    <sound speed="-1" url="http://minasya.com.tr/yedek/sounds/normal/kureys.mp3"/>
    <sound speed="-1" url="http://minasya.com.tr/yedek/sounds/normal/maun.mp3"/>
    <sound speed="-1" url="http://minasya.com.tr/yedek/sounds/normal/niyetaksamfarz.mp3"/>
  </sounds>
  <vakitler>
    <vakit no="1"  section="1" rekat="1" soundNo="1" turkce="Deneme-1"  meal="" name="Tekbir" path="allahuekber.mp3" image="elbagla.png"/>
    <vakit no="1"  section="1" rekat="1" soundNo="2" turkce="Deneme-2"  meal="" name="Fatiha Suresi" path="fatiha.mp3" image="tekbir.png"/>
    <vakit no="1"  section="1" rekat="1" soundNo="2" turkce="Deneme-3"  meal="" name="Bir sure (Allahümmebarik)" path="allahummebarik.mp3" image="elbagla.png"/>
    <vakit no="1"  section="2" rekat="1" soundNo="2" turkce="Deneme-4"  meal="" name="Namaz Bitişi (AllahümmeEntesselam)" path="allahummeentesselamu.mp3" image="kiyam.png"/>
    <vakit no="1"  section="2" rekat="1" soundNo="2" turkce="Deneme-5"  meal="" name="Allahümmesalli" path="allahummesalli.mp3" image="ruku.png"/>
    <vakit no="1"  section="2" rekat="1" soundNo="2" turkce="Deneme-6"  meal="" name="Allahümmesalli3" path="maun.mp3" image="sagaselam.png"/>
    <vakit no="1"  section="3" rekat="1" soundNo="2" turkce="Deneme-7"  meal="" name="Allahümmesalli4" path="bismillahirrahmanirrahim.mp3" image="secde.png"/>
    <vakit no="1"  section="3" rekat="1" soundNo="2" turkce="Deneme-8"  meal="" name="Allahümmesalli5" path="ding.wav" image="solaselam.png"/>
    <vakit no="1"  section="3" rekat="1" soundNo="2" turkce="Deneme-9"  meal="" name="Allahümmesalli6" path="esselamualeykumverahmetullah.mp3" image="tahiyyat.png"/>
    <vakit no="2"  section="1" rekat="1" soundNo="2" turkce="Deneme-11" meal="" name="Allahümmesalli7" path="ettehiyyatu.mp3" image="kiyam.png"/>
    <vakit no="2"  section="1" rekat="1" soundNo="2" turkce="Deneme-12" meal="" name="Allahümmesalli8" path="euzubesmele.mp3" image="ruku.png"/>
    <vakit no="2"  section="1" rekat="1" soundNo="2" turkce="Deneme-13" meal="" name="Allahümmesalli9" path="felak.mp3" image="sagaselam.png"/>
  </vakitler>
</config>
