<ion-view view-title="ANASAYFA">
    <ion-content scroll="false">
        <!--<button class="button button-block button-positive" ng-click="play(1,1)">ilk Sünnet</button>
        <button class="button button-block button-positive" ng-click="play(1,2)">Farz</button>
        <button class="button button-block button-positive" ng-click="play(1,3)">Son Sünnet</button>-->

        <div class="list anasayfa scroll">
            <a class="item item-thumbnail-left" href="#/app/vakitler/1">
                <img src="/android_asset/www/resources/images/sabah.jpg">
                <h2>SABAH NAMAZI</h2>
                <p>2 rekat Sünnet, 2 rekat Farz olmak üzere 4 rekattır.</p>
                <p>İmsak ile girer, güneşin doğması ile biter.</p>
            </a>
            <a class="item item-thumbnail-left" href="#/app/vakitler/2">
                <img src="/android_asset/www/resources/images/Ogle.jpg">
                <h2>ÖĞLE NAMAZI</h2>
                <p>4 rekat Sünnet, 4 rekat Farz ve 2 rekat Son Sünnet olmak üzere 10 rekattır.</p>
                <p>Güneş tam tepeye geldikten sonra girer, ikindi ezanı okununcaya kadar kılınabilir.</p>
            </a>
            <a class="item item-thumbnail-left" href="#/app/vakitler/3">
                <img src="/android_asset/www/resources/images/Ikindi.jpg">
                <h2>İKİNDİ NAMAZI</h2>
                <p>4 rekat Sünnet, 4 rekat Farz olmak üzere 8 rekattır.</p>
                <p>İkindi vakti girdiğinden itibaren, güneş batımına 45 dk (kerahat vakti) kalıncaya kadar sünneti ile birlikte, kerahat vakti içerisinde yalnızca farzı kılınabilir.</p>
            </a>
            <a class="item item-thumbnail-left" href="#/app/vakitler/4">
                <img src="/android_asset/www/resources/images/Aksam.jpg">
                <h2>AKŞAM NAMAZI</h2>
                <p>3 rekat Farz ve 2 rekat Sünnet olmak üzere 5 rekattır.</p>
                <p>Akşam ezanından itibaren, Yatsı ezanı okununcaya kadar kılınabilir</p>
            </a>
            <a class="item item-thumbnail-left" href="#/app/vakitler/5">
                <img src="/android_asset/www/resources/images/Yatsi.jpg">
                <h2>YATSI NAMAZI</h2>
                <p>4 rekat Sünnet, 4 rekat Farz, 2 rekat Son Sünnet ve 3 rekat Vitir olmak üzere 13 rekattır.</p>
                <p>Yatsı ezanı okunmasından itibaren, sabah namazına kadar kılınabilir. Geciktirmemekte fayda vardır.</p>
            </a>

        </div>
    </ion-content>
</ion-view>