<ion-view view-title="AYARLAR">
    <ion-content>

        <label class="item item-input item-select">
            <div class="input-label">
                <b>Okuma Hızı</b>
            </div>
            <select id="speedSelect" ng-model="selectedSpeed" ng-change="download(selectedSpeed)">
                <option  ng-repeat="(key,value) in speeds" key="{{key}}">{{value}}</option>
            </select>
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
                <b>Cinsiyet</b>
            </div>
            <select ng-model="selectedGender" ng-change="selectGender(selectedGender)" ng-options="choice for choice in genders"></select>
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
                <b>Yazı Boyutu</b>
            </div>
            <select ng-model="selectedFontSize" ng-change="FontSizeChange(selectedFontSize)" ng-options="size for size in fontSizes"></select>

        </label>
<!--
        <ion-toggle ng-model="updateControl" ng-checked="updateControl" ng-change="updateControlSelect(updateControl)">
          Açılışta güncelleştirmeleri kontrol et
        </ion-toggle>
-->

        <div class="loading" ng-if="loading">
            <div class="load">
                <div class="item center">
                    İndirilen %{{oran}}
                </div>
                <div class="item range">
                    <i class="icon ion-android-download"></i>
                    <progress ng-value="downloaded" max="52">
                    </progress>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
