
<ion-view>
    <ion-nav-title> {{vakitName}} NAMAZI </ion-nav-title>
    <ion-nav-back-button> Geri </ion-nav-back-button>
    <ion-content>
        <div class="center">
            <ion-list ng-if="vakitId==1">
                <ion-checkbox ng-model="sections[11]">Sünnet (2 Rekat)</ion-checkbox>
                <ion-checkbox ng-model="sections[12]">Farz (2 Rekat)</ion-checkbox>
                <ion-checkbox ng-model="sections[13]">Tesbihat</ion-checkbox>
            </ion-list>
            <ion-list ng-if="vakitId==2">
                <ion-checkbox ng-model="sections[21]">İlk Sünnet (4 Rekat)</ion-checkbox>
                <ion-checkbox ng-model="sections[22]">Farz (4 Rekat)</ion-checkbox>
                <ion-checkbox ng-model="sections[23]">Son Sünnet (2 Rekat)</ion-checkbox>
                <ion-checkbox ng-model="sections[24]">Tesbihat</ion-checkbox>
            </ion-list>
            <ion-list ng-if="vakitId==3">
                <ion-checkbox ng-model="sections[32]">Farz (4 Rekat)</ion-checkbox>
                <ion-checkbox ng-model="sections[31]">Sünnet (4 Rekat)</ion-checkbox>
                <ion-checkbox ng-model="sections[33]">Tesbihat</ion-checkbox>
            </ion-list>
            <ion-list ng-if="vakitId==4">
                <ion-checkbox ng-model="sections[41]">Farz (3 Rekat)</ion-checkbox>
                <ion-checkbox ng-model="sections[42]">Sünnet (2 Rekat)</ion-checkbox>
                <ion-checkbox ng-model="sections[43]">Tesbihat</ion-checkbox>
            </ion-list>
            <ion-list ng-if="vakitId==5">
                <ion-checkbox ng-model="sections[51]">İlk Sünnet (4 Rekat)</ion-checkbox>
                <ion-checkbox ng-model="sections[52]">Farz (4 Rekat)</ion-checkbox>
                <ion-checkbox ng-model="sections[53]">Son Sünnet (2 Rekat)</ion-checkbox>
                <ion-checkbox ng-model="sections[54]">Vitri Vacib (3 Rekat)</ion-checkbox>
                <ion-checkbox ng-model="sections[55]">Tesbihat</ion-checkbox>
            </ion-list>
            <div class="padding">
                <button class="item button button-positive" ng-click="Start()">BAŞLA</button>
            </div>
        </div>
    </ion-content>
</ion-view>