<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.namaz.namazOgretmeni" version="2.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Namaz Öğreniyorum</name>
  <description>
        NAMAZ ÖĞRENİYORUM
    </description>
  <author email="sevindikmetin@gmail.com" href="http://example.com.com/">
      Metin SEVİNDİK
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <property file="secure.properties" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
   <platform name="android">
        <icon src="www/resources/images/namazogreniyorum.png" density="ldpi" />
        <icon src="www/resources/images/namazogreniyorum.png" density="mdpi" />
        <icon src="www/resources/images/namazogreniyorum.png" density="hdpi" />
        <icon src="www/resources/images/namazogreniyorum.png"  density="xhdpi" />        
    </platform>
</widget>
